
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Override Bootstrap's default container.
 */

@import "partials/forms";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

footer{
	text-align: center;
	padding-top: 20px;
}

a:hover{
	text-decoration: none;
}